.section {
    position: relative;
    width: 1208px;
    height: 5129px;
    background: #F9F9F9;
}

.photo {
    position: absolute;
    width: 1200px;
    height: 500px;
    left: 0px;
    top: 100px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(saintp.jpg);
}

.section-title {
    position: absolute;
    width: 589px;
    height: 117px;
    left: 405px;
    top: 280px;
    /* h1 */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: #FFFFFF;
}

.btn {
    position: absolute;
    left: 100px;
    top: 200px;
    background: #005FA3;
    color: #FFFFFF;
}

.top-line {
    position: absolute;
    background: #E5E5E5;
    width: 1200px;
    height: 100px;
    left: 0px;
}

.rom {
    position: absolute;
    width: 107px;
    height: 18px;
    left: 340px;
    top: 22px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
}

.rom1 {
    position: absolute;
    width: 113px;
    height: 18px;
    left: 550px;
    top: 22px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
}

.rom2 {
    position: absolute;
    width: 100px;
    height: 18px;
    left: 710px;
    top: 22px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #000000;
}

.rom3 {
    position: absolute;
    width: 100px;
    height: 18px;
    left: 890px;
    top: 22px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
}

.text {
    position: absolute;
    width: 76px;
    height: 17px;
    left: 355px;
    top: 62px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #222222;
    list-style: none;
}

.text1 {
    position: absolute;
    width: 65px;
    height: 17px;
    left: 530px;
    top: 62px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #222222;
    list-style: none;
}

.text2 {
    position: absolute;
    width: 58px;
    height: 17px;
    left: 690px;
    top: 62px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    list-style: none;
}

.text3 {
    position: absolute;
    width: 116px;
    height: 17px;
    left: 865px;
    top: 62px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #222222;
    list-style: none;
}

.text4 {
    position: absolute;
    width: 91px;
    height: 17px;
    left: 1050px;
    top: 62px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #222222;
    list-style: none;
}

.buh-one {
    position: absolute;
    width: 190px;
    height: 43px;
    left: 475px;
    top: 33px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #005FA3;
}

.our-services-item {
    position: absolute;
    width: 1207px;
    height: 1242px;
    left: 0px;
    top: 600px;
    background: #EBEBEB;
}

.div-title {
    position: absolute;
    width: 445px;
    height: 23px;
    left: 80px;
    top: 80px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
}

.title {
    position: absolute;
    width: 663px;
    height: 47px;
    left: 145px;
    top: 115px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}

.img {
    position: absolute;
    width: 350px;
    height: 360px;
    left: 45px;
    top: 270px;
}

.img1 {
    position: absolute;
    width: 350px;
    height: 360px;
    left: 425px;
    top: 270px;
}

.img2 {
    position: absolute;
    width: 350px;
    height: 360px;
    left: 815px;
    top: 270px;
}

.img3 {
    position: absolute;
    width: 350px;
    height: 360px;
    left: 45px;
    top: 670px;
}

.img4 {
    position: absolute;
    width: 350px;
    height: 360px;
    left: 425px;
    top: 670px;
}

.img5 {
    position: absolute;
    width: 350px;
    height: 360px;
    left: 815px;
    top: 670px;
}

.item {
    position: absolute;
    width: 347px;
    height: 117px;
    left: 80px;
    top: 2225px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}

.text-yox {
    position: absolute;
    width: 445px;
    height: 245px;
    left: 80px;
    top: 2402px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.box {
    position: absolute;
    width: 255px;
    height: 255px;
    left: 590px;
    top: 2186px;
    background: #EBEBEB;
}

.son {
    position: absolute;
    width: 75px;
    height: 54px;
    left: 22px;
    top: -37px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.text-vse {
    position: absolute;
    width: 67px;
    height: 17px;
    left: 22px;
    top: 130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #005FA3;
}

.text-vse1 {
    position: absolute;
    width: 107px;
    height: 37px;
    left: 22px;
    top: 66px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.box1 {
    position: absolute;
    width: 255px;
    height: 255px;
    left: 920px;
    top: 2186px;
    background: #EBEBEB;
}

.son1 {
    position: absolute;
    width: 75px;
    height: 54px;
    left: 22px;
    top: -37px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.text-alt {
    position: absolute;
    width: 67px;
    height: 17px;
    left: 22px;
    top: 130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #005FA3;
}

.text-alt1 {
    position: absolute;
    width: 107px;
    height: 37px;
    left: 22px;
    top: 66px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.box2 {
    position: absolute;
    width: 255px;
    height: 255px;
    left: 590px;
    top: 2471px;
    background: #EBEBEB;
}

.son2 {
    position: absolute;
    width: 75px;
    height: 54px;
    left: 22px;
    top: -37px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.text-none {
    position: absolute;
    width: 67px;
    height: 17px;
    left: 22px;
    top: 130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #005FA3;
}

.text-none1 {
    position: absolute;
    width: 107px;
    height: 37px;
    left: 22px;
    top: 66px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.box3 {
    position: absolute;
    width: 255px;
    height: 255px;
    left: 920px;
    top: 2471px;
    background: #005FA3;
}

.son3 {
    position: absolute;
    width: 75px;
    height: 54px;
    left: 22px;
    top: -37px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.text-uzc {
    position: absolute;
    width: 67px;
    height: 17px;
    left: 22px;
    top: 130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #005FA3;
}

.text-uzc1 {
    position: absolute;
    width: 107px;
    height: 37px;
    left: 22px;
    top: 66px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.slinder-controls {
    position: absolute;
    width: 1208px;
    height: 630px;
    left: 0px;
    top: 2866px;
    background: #EBEBEB;
}

.Rectangle {
    position: absolute;
    width: 350px;
    height: 23px;
    left: 150px;
    top: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
}

.text-tro {
    position: absolute;
    width: 483px;
    height: 47px;
    left: 60px;
    top: 150px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}

.photo1 {
    position: absolute;
    width: 255px;
    height: 130px;
    left: 60px;
    top: 300px;
}

.photo2 {
    position: absolute;
    width: 255px;
    height: 130px;
    left: 370px;
    top: 300px;
}

.photo3 {
    position: absolute;
    width: 255px;
    height: 130px;
    left: 665px;
    top: 300px;
}

.photo4 {
    position: absolute;
    width: 255px;
    height: 130px;
    left: 957px;
    top: 300px;
}

.nuqta {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 150px;
    top: 550px;
    background: #005FA3;
    opacity: 0.4;
}

.nuqta {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 150px;
    top: 550px;
    background: #005FA3;
    opacity: 0.4;
}

.nuqta1 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 195px;
    top: 550px;
    background: #005FA3;
    opacity: 0.4;
}

.nuqta2 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 245px;
    top: 550px;
    background: #005FA3;
    opacity: 0.4;
}

.nuqta3 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 292px;
    top: 550px;
    background: #005FA3;
    opacity: 0.4;
}

.hroz {
    position: absolute;
    width: 350px;
    height: 23px;
    left: 405px;
    top: 3636px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
}

.texct {
    position: absolute;
    width: 633px;
    height: 47px;
    left: 407px;
    top: 3699px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}

.reviews-avatar {
    position: absolute;
    width: 1110px;
    height: 320px;
    left: 48px;
    top: 3826px;
    background: #EBEBEB;
}

.lorem {
    position: absolute;
    width: 920px;
    height: 92px;
    left: 110px;
    top: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.ellipse {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 130px;
    top: 213px;
}

.tecrt {
    position: absolute;
    width: 225px;
    height: 18px;
    left: 230px;
    top: 245px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.foto {
    position: absolute;
    width: 1208px;
    height: 550px;
    left: 0px;
    top: 4396px;
}

.group {
    position: absolute;
    width: 445px;
    height: 47px;
    left: 82px;
    top: 4518px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
}

.text-group {
    position: absolute;
    width: 445px;
    height: 43px;
    left: 82px;
    top: 4625px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.icon {
    position: absolute;
    width: 400px;
    height: 29px;
    left: 82px;
    top: 4748px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
    list-style: none;
}

.icon1 {
    position: absolute;
    width: 400px;
    height: 29px;
    left: 360px;
    top: 4748px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
    list-style: none;
}

.ism {
    position: absolute;
    width: 125px;
    height: 16px;
    left: 655px;
    top: 4531px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: ;
}

.familya {
    position: absolute;
    width: 125px;
    height: 16px;
    left: 900px;
    top: 4531px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.sms {
    position: absolute;
    width: 125px;
    height: 16px;
    left: 650px;
    top: 4633px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.sms1 {
    position: absolute;
    width: 193px;
    height: 105px;
    left: 651px;
    top: 4663px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
}

.ff {
    position: absolute;
    width: 81px;
    height: 23px;
    left: 655px;
    top: 4578px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    border: none;
}

.ii {
    position: absolute;
    width: 81px;
    height: 23px;
    left: 901px;
    top: 4578px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    border-style: none;
}

.btn1 {
    position: absolute;
    width: 270px;
    height: 60px;
    left: 875px;
    top: 4804px;
    background: #005FA3;
    color: #FFFFFF;
}