body{
    position: relative;
    width: 1920px;
    height: 4210px;
    background: #F9F9F9;
}
 .frist-scren{
    position: absolute;
    left: 259px;
    top: 5px;
    width: 1090px;
    height: 50px;
    background: rgb(151, 144, 144);
    border-radius:25px;
}

 .dropdown{
    position: absolute;
    left: 460px;
    top: -289px;
    width:0px;
 }
 
 .numbers {
     position: relative;
     display: flex;
     top: 20px;
     left: 0px;
     justify-content: space-between;
 }
 


 .rasmlar img {
     padding: 0 50px;
 }
 
 .text1 {
     position: relative;
     left: 120px;
     top: -25px;
 }
 
 .text2 {
     position: relative;
     left: 220px;
     top: -25px;
 }
 
 .text3 {
     position: relative;
     left: 335px;
     top: -25px;
 }
 
 .text4 {
     position: relative;
     left: 446px;
     top: -25px;
 }
 
 .text5 {
     position: relative;
     left: 530px;
     top: -25px;
 }
 
 .text6 {
     position: relative;
     left: 590px;
     top: -25px;
 }
 
 .video {
    position: absolute;
    width: 1920px;
    height: 804px;
    left: 0px;
    top: 570px;
    background: #EEEFF1;
 }
 
 .photo {
     width: 256px;
 }
 
 
 .photo-1 {
     position: relative;
     height: 256px;
     width: 256px;
     top: 260px;
 }
 
 .type {
     position: absolute;
     width: 1030px;
     height: 434px;
     left: 385px;
     top: 2660px;
     background: #EEEFF1;
 }
 
 .top-line-info {
     position: absolute;
     width: 1030px;
     height: 70px;
     display: flex;
     background: #c6cbd5;
     font-size: 21px;
     top: 3430px;
     left: 384px;
     margin-bottom: 20px;
 }
 
 .top-line-info p {
     margin-left: 13px;
     padding: 0px 16px;
 }
 
 .png {
     position: absolute;
     width: 80px;
     height: 50px;
     top: 1850px;
     left: 365px;
 }
 
 .h1 {
     position: relative;
     font-size: 25px;
     top: 710px;
     left: 364px;
     font-size: 27px;
     color: #3874e3;
 }
 
 .none li {
     padding: 0px 20px;
     list-style: none;
     top: -2080px;
 }
 
 .res9 {
     position: relative;
     top: 780px;
     left: 70px;
     width: 255px;
     height: 180px;
 }
 
 .res10 {
     position: relative;
     top: 780px;
     left: 140px;
     width: 255px;
     height: 180px;
 }
 
 .res8 {
     position: relative;
     top: 780px;
     left: 10px;
     width: 255px;
     height: 180px;
 }
 
 .res11 {
     position: relative;
     top: 602px;
     left: 450px;
     width: 255px;
     height: 180px;
 }
 
 .custom {
     position: relative;
     width: 400px;
     left: 110px;
     top: -170px;
 }
 
 .range {
     position: relative;
     width: 400px;
     left: 110px;
     top: -190px;
 }
 
 .form-label {
     position: relative;
     width: 400px;
     left: 110px;
     top: -200px;
 }
 
 .Bahrom {
     position: relative;
     width: 350px;
     height: 340px;
     left: 170%;
     top: 220px;
 }
 
 .sayt-h1 {
     position: relative;
     width: 300px;
     font-weight: 300;
     top: 490px;
     left: 340px;
     font-size: 27px;
 }
 
 .sayt-p {
     position: relative;
     width: 500px;
     font-weight: 200;
     top: 510px;
     left: 300px;
     font-size: 27px
 }
 
 .placeholder {
     position: relative;
     left: 28px;
     top: 540px;
 }
 
 .ism {
     position: relative;
     width: 240px;
     height: 50px;
     border-radius: 7px;
     left: 140px;
     top: 7px;
     color: white;
     background-color: #c6cbd5;
     text-align: center;
 }
 
 .ism:hover {
     border: 2px solid blue
 }
 
 .familya {
     position: relative;
     width: 240px;
     height: 50px;
     border-radius: 7px;
     left: 300px;
     top: 7px;
     background: #c6cbd5;
     text-align: center;
 }
 
 .familya:hover {
     border: 2px solid blue;
 }
 
 .buyurtma {
     position: relative;
     width: 140px;
     height: 30px;
     border-radius: 7px;
     left: -103px;
     color: white;
     top: 100px;
     background: #c6cbd5;
     text-align: center;
     cursor: pointer;
 }
 
 .buyurtma:hover {
     border: 3px solid green;
 }
 
 .rasm {
     position: absolute;
     top: 500px;
     left: 6%;
 }

 .btn{
     position:absolute;
     width:100px;
     left:435px;
     top:295px;
 }
 .map{
    position:absolute;
    width:2000px;
    top:340px;
    left:240px;
 }
 .kata{
    position:absolute;
    width:100px;
    height:200px;
    left:10px;
    top:20px;
    background:#fff;
 }
 .ff{
    position: absolute;
    left: 1230px;
    top: 100px;
    width: 280px;
    height: 50px;
 }
 .ii{
    position: absolute;
    left: 810px;
    top: 100px;
    width: 280px;
    height: 50px;
 }
 .sms1{
    position: absolute;
    left: 810px;
    top: 214px;
    width: 700px;
    height:300px;
 }
 .scills{
  position:absolute;
  left:100px;
  top:670px;
 }
 .projects{
    position: absolute;
    width: 1920px;
    height: 960px;
    left: 0px;
    top: -1620px;
 }
 .rasm1 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 0px;
    top: 2994px;
}

.rasm2 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 480px;
    top: 2994px;
    background:arcblue;
}

.rasm9 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 670px;
    top: 3184px;
}

.rasm3 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 960px;
    top: 2994px;
}

.rasm4 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 1440px;
    top: 2994px;
}

.rasm5 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 480px;
    top: 3470px;
}

.rasm6 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 0px;
    top: 3470px;
}

.rasm7 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 1440px;
    top: 3470px;
}

.rasm8 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 960px;
    top: 3470px;
}

.clients{
    position:absolute;
    top:420px;
    left:0px;
}
.form{
     position: absolute; 
     top: 2630px; 
     left: 0%;  
     background: #ecedf0;  
     width: 1920px;  
     height: 660px;
}

.footer{ 
    position: absolute; 
    top:3290px; 
    left:0%; 
    background:#34547A; 
    width: 1920px; 
    height:80px;
}
.map{
    position:absolute;
    left:100px;
    top:100px;
}
/* .progress{
    position:absolute;
    left:100px;
    top:100px;
} */
