  .page {
      .section {
          background-color: yellowgreen;
      }
      .section2 {
          background-color: rgb(245, 87, 161);
          li {
              color: ;
          }
      }
      .section3 {
          background-color: rgb(667, 45, 66);
          li {
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              color: blue;
          }
      }
      .section4 {
          background-color: blue;
      }
      .section5 {
          background-color: green;
          li {
              color: yellow;
          }
      }
  }