.footer {
    position: relative;
    width: 1000px;
    height: 4820px;
    background: #F9F9F9;
}

.img {
    position: absolute;
    width: 1000px;
    height: 455px;
    left: 0px;
    top: 0px;
}

.gre {
    position: absolute;
    left: 70p x;
    top: 13px;
}

.gre1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 870px;
    top: 17px;
    background: #F7654A;
}

.funter {
    position: absolute;
    width: 592px;
    height: 232px;
    left: 189px;
    top: 50px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text {
    position: absolute;
    width: 592px;
    height: 232px;
    left: 0px;
    top: 100px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.box {
    position: absolute;
    width: 826px;
    height: 207px;
    left: 70px;
    top: 353px;
    background: #F7F7F7;
}

.pho {
    position: absolute;
    width: 190px;
    height: 86px;
    left: 70px;
    top: 292px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}

.text1 {
    position: absolute;
    width: 190px;
    height: 43px;
    left: 70px;
    top: 404px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.text2 {
    position: absolute;
    width: 190px;
    height: 22px;
    left: 70px;
    top: 475px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}

.pho1 {
    position: absolute;
    width: 190px;
    height: 86px;
    left: 240px;
    top: 292px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}

.text7 {
    position: absolute;
    width: 190px;
    height: 43px;
    left: 240px;
    top: 404px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.text8 {
    position: absolute;
    width: 190px;
    height: 22px;
    left: 240px;
    top: 475px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}

.pho2 {
    position: absolute;
    width: 190px;
    height: 86px;
    left: 450px;
    top: 292px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}

.text3 {
    position: absolute;
    width: 190px;
    height: 43px;
    left: 450px;
    top: 404px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.text4 {
    position: absolute;
    width: 190px;
    height: 22px;
    left: 450px;
    top: 475px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}

.pho3 {
    position: absolute;
    width: 190px;
    height: 86px;
    left: 685px;
    top: 292px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}

.text5 {
    position: absolute;
    width: 190px;
    height: 43px;
    left: 685px;
    top: 404px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.text6 {
    position: absolute;
    width: 190px;
    height: 22px;
    left: 685px;
    top: 475px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}

.section {
    position: absolute;
    width: 506px;
    height: 43px;
    left: 247px;
    top: 615px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;
}

.photo {
    position: absolute;
    width: 218px;
    height: 255px;
    left: 70px;
    top: 702px;
}

.photo1 {
    position: absolute;
    width: 218px;
    height: 255px;
    left: 380px;
    top: 702px;
}

.photo2 {
    position: absolute;
    width: 218px;
    height: 255px;
    left: 680px;
    top: 702px;
}

.pro {
    position: absolute;
    width: 225px;
    height: 29px;
    left: 70px;
    top: 990px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #404149;
}

.yoz {
    position: absolute;
    width: 304px;
    height: 83px;
    left: 70px;
    top: 1050px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.pro1 {
    position: absolute;
    width: 225px;
    height: 29px;
    left: 380px;
    top: 990px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #404149;
}

.yoz1 {
    position: absolute;
    width: 304px;
    height: 83px;
    left: 380px;
    top: 1050px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.pro2 {
    position: absolute;
    width: 225px;
    height: 29px;
    left: 680px;
    top: 990px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #404149;
}

.yoz2 {
    position: absolute;
    width: 304px;
    height: 83px;
    left: 680px;
    top: 1050px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.boxd {
    position: absolute;
    width: 1005px;
    height: 181px;
    left: 0px;
    top: 1205px;
    background: #F7654A;
}

.ort {
    position: absolute;
    width: 628px;
    height: 57px;
    left: 71px;
    top: 0px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 71px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.boc {
    position: absolute;
    width: 562px;
    height: 29px;
    left: 71px;
    top: 66px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.icon {
    position: absolute;
    width: 175px;
    height: 49px;
    left: 724px;
    top: 53px;
    background: #FFFFFF;
}

.logo {
    position: absolute;
    width: 500px;
    height: 43px;
    left: 216px;
    top: 1450px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.box1 {
    position: absolute;
    width: 275px;
    height: 230px;
    left: 24px;
    top: 1590px;
    background: #F7F7F7;
}

.foto {
    position: absolute;
    width: 60px;
    height: 40px;
    left: 127px;
    top: 1646px;
    font-family: 'Font Awesome 5 Pro';
    font-size: 48px;
    line-height: 40px;
    color: #F7654A;
}

.group {
    position: absolute;
    width: 208px;
    height: 62px;
    left: 54px;
    top: 1722px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.box2 {
    position: absolute;
    width: 275px;
    height: 230px;
    left: 350px;
    top: 1590px;
    background: #F7F7F7;
}

.foto1 {
    position: absolute;
    width: 60px;
    height: 40px;
    left: 450px;
    top: 1646px;
    font-family: 'Font Awesome 5 Pro';
    font-size: 48px;
    line-height: 40px;
    color: #F7654A;
}

.group1 {
    position: absolute;
    width: 208px;
    height: 62px;
    left: 385px;
    top: 1722px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.box3 {
    position: absolute;
    width: 275px;
    height: 230px;
    left: 690px;
    top: 1590px;
    background: #F7F7F7;
}

.foto2 {
    position: absolute;
    width: 60px;
    height: 40px;
    left: 805px;
    top: 1646px;
    font-family: 'Font Awesome 5 Pro';
    font-size: 48px;
    line-height: 40px;
    color: #F7654A;
}

.group2 {
    position: absolute;
    width: 208px;
    height: 62px;
    left: 722px;
    top: 1722px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.box4 {
    position: absolute;
    width: 275px;
    height: 230px;
    left: 24px;
    top: 1868px;
    background: #F7F7F7;
}

.foto3 {
    position: absolute;
    width: 60px;
    height: 40px;
    left: 127px;
    top: 1928px;
    font-family: 'Font Awesome 5 Pro';
    font-size: 48px;
    line-height: 40px;
    color: #F7654A;
}

.group3 {
    position: absolute;
    width: 208px;
    height: 62px;
    left: 54px;
    top: 1995px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.box5 {
    position: absolute;
    width: 275px;
    height: 230px;
    left: 350px;
    top: 1868px;
    background: #F7F7F7;
}

.foto4 {
    position: absolute;
    width: 60px;
    height: 40px;
    left: 450px;
    top: 1928px;
    font-family: 'Font Awesome 5 Pro';
    font-size: 48px;
    line-height: 40px;
    color: #F7654A;
}

.group4 {
    position: absolute;
    width: 208px;
    height: 62px;
    left: 385px;
    top: 1995px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.box6 {
    position: absolute;
    width: 275px;
    height: 230px;
    left: 690px;
    top: 1868px;
    background: #F7F7F7;
}

.foto5 {
    position: absolute;
    width: 60px;
    height: 40px;
    left: 805px;
    top: 1928px;
    font-family: 'Font Awesome 5 Pro';
    font-size: 48px;
    line-height: 40px;
    color: #F7654A;
}

.group5 {
    position: absolute;
    width: 208px;
    height: 62px;
    left: 722px;
    top: 1995px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.img1 {
    position: absolute;
    width: 250px;
    height: 285px;
    left: 0px;
    top: 2183px;
}

.img2 {
    position: absolute;
    width: 250px;
    height: 285px;
    left: 250px;
    top: 2183px;
}

.img3 {
    position: absolute;
    width: 250px;
    height: 285px;
    left: 500px;
    top: 2183px;
}

.img4 {
    position: absolute;
    width: 250px;
    height: 285px;
    left: 750px;
    top: 2183px;
}

.img5 {
    position: absolute;
    width: 250px;
    height: 285px;
    left: 750px;
    top: 2467px;
}

.img6 {
    position: absolute;
    width: 250px;
    height: 285px;
    left: 250px;
    top: 2467px;
}

.img7 {
    position: absolute;
    width: 250px;
    height: 285px;
    left: 500px;
    top: 2467px;
}

.img8 {
    position: absolute;
    width: 250px;
    height: 285px;
    left: 0px;
    top: 2467px;
}

.question-itmen {
    position: absolute;
    width: 546px;
    height: 53px;
    left: 280px;
    top: 2905px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.grou {
    position: absolute;
    width: 370px;
    height: 29px;
    left: 65px;
    top: 3015px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #F7654A;
}

.grou1 {
    position: absolute;
    width: 370px;
    height: 29px;
    left: 65px;
    top: 3070px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #F7654A;
}

.grou2 {
    position: absolute;
    width: 370px;
    height: 29px;
    left: 65px;
    top: 3275px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #F7654A;
}

.question-itmen-open {
    position: absolute;
    width: 370px;
    height: 29px;
    left: 65px;
    top: 3318px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #F7654A;
}

.grou3 {
    position: absolute;
    width: 685px;
    height: 29px;
    left: 65px;
    top: 3115px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #999999;
}

.box0 {
    position: absolute;
    width: 1000px;
    height: 364px;
    left: 0px;
    top: 3516px;
    background: #404149;
}

.logo1 {
    position: absolute;
    width: 170px;
    height: 61px;
    left: 34px;
    top: 98px;
}

.logo2 {
    position: absolute;
    width: 170px;
    height: 61px;
    left: 232px;
    top: 98px;
}

.logo3 {
    position: absolute;
    width: 170px;
    height: 61px;
    left: 425px;
    top: 98px;
}

.logo4 {
    position: absolute;
    width: 170px;
    height: 61px;
    left: 614px;
    top: 98px;
}

.logo5 {
    position: absolute;
    width: 170px;
    height: 61px;
    left: 815px;
    top: 98px;
}

.ppr {
    position: absolute;
    width: 245px;
    height: 61px;
    left: 410px;
    top: 22px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.wix {
    position: absolute;
    width: 560px;
    height: 53px;
    left: 234px;
    top: 3935px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.Rectangle {
    position: absolute;
    width: 254px;
    height: 228px;
    left: 30px;
    top: 4032px;
    background: #F7F7F7;
}

.Rectangle1 {
    position: absolute;
    width: 254px;
    height: 228px;
    left: 385px;
    top: 4032px;
    background: #F7F7F7;
}

.Rectangle2 {
    position: absolute;
    width: 254px;
    height: 228px;
    left: 725px;
    top: 4032px;
    background: #F7F7F7;
}

.lorem {
    position: absolute;
    width: 254px;
    height: 269px;
    left: 7px;
    top: 60px;
}

.lorem1 {
    position: absolute;
    width: 254px;
    height: 269px;
    left: 7px;
    top: 60px;
}

.lorem2 {
    position: absolute;
    width: 254px;
    height: 269px;
    left: 7px;
    top: 60px;
}

.oxs {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 7px;
    top: 10px;
}

.oxs1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 7px;
    top: 10px;
}

.ort1 {
    position: absolute;
    width: 628px;
    height: 57px;
    left: 71px;
    top: 0px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 71px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.boc1 {
    position: absolute;
    width: 562px;
    height: 29px;
    left: 71px;
    top: 66px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.icon1 {
    position: absolute;
    width: 175px;
    height: 49px;
    left: 724px;
    top: 53px;
    background: #FFFFFF;
}

.boxs {
    position: absolute;
    width: 1000px;
    height: 181px;
    left: 0px;
    top: 4335px;
    /* Accent */
    background: #F7654A;
}

.contacts-itmen {
    position: absolute;
    width: 255px;
    height: 191px;
    left: 72px;
    top: 256px;
}

.adres {
    position: absolute;
    width: 255px;
    height: 29px;
    left: -100px;
    top: 37px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}

.src {
    position: absolute;
    width: 148px;
    height: 72px;
    left: -48px;
    top: 73px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.contacts-itmen1 {
    position: absolute;
    width: 255px;
    height: 191px;
    left: 295px;
    top: 256px;
}

.tel {
    position: absolute;
    width: 255px;
    height: 29px;
    left: -100px;
    top: 37px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}

.src1 {
    position: absolute;
    width: 80px;
    height: 72px;
    left: -12px;
    top: 73px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.contacts-itmen2 {
    position: absolute;
    width: 255px;
    height: 191px;
    left: 540px;
    top: 256px;
}

.soat {
    position: absolute;
    width: 255px;
    height: 29px;
    left: -100px;
    top: 37px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}

.src2 {
    position: absolute;
    width: 100px;
    height: 72px;
    left: -20px;
    top: 73px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.contacts-itmen3 {
    position: absolute;
    width: 255px;
    height: 191px;
    left: 820px;
    top: 256px;
}

.sms {
    position: absolute;
    width: 255px;
    height: 29px;
    left: -100px;
    top: 37px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}

.src3 {
    position: absolute;
    width: 100px;
    height: 72px;
    left: -20px;
    top: 73px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 36px;
    text-align: center;
    color: #F7654A;
}

.zami {
    position: absolute;
    width: 1000px;
    height: 55px;
    top: 430px;
    background: black;
}

.src4 {
    position: absolute;
    width: 330px;
    height: 55px;
    top: 2px;
    left: 640px;
    color: #FFFFFF;
}

.jes {
    position: absolute;
    width: 222px;
    height: 14px;
    top: 21px;
    left: 150px;
    color: #FFFFFF;
}